<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

	<style>
		body {
			user-select: none;
		}

        pre.progbarz-title {
			border-left-color: transparent;
			background: transparent;
		}	
		pre.progbarz-title code {
			background: transparent;
			display: flex;
  			justify-content: center;
  			align-items: center;
  			font-size: 60%;
		}
  		.button.button-clear.glyph {
			font-size: large;
		    color: rgb(153, 153, 153);  			
  		}
  		.button.button-clear.glyph:hover {
		    color: red;  			
  		}
  		.button.button-clear.glyph.xlarge {
  			font-size: x-large;
  		}
  		.progressbar-text {
  			text-align: center;
  		}
  		.column {
  			font-family: 'Saira Condensed', sans-serif;
  			font-size: larger;
  		}
  		.column.left {
  			text-align: right;
  		}
  		.column.right {
  			text-align: left
  		}
  		.tooltip {
		  	position: relative;
		  	display: inline-block;
		}

		.tooltip .tooltiptext {
		  	visibility: hidden;
		  	width: 50px;
		  	background-color: transparent;
		  	color: rgb(153, 153, 153);
		  	text-align: center;
		  	border-radius: 6px;
		  	padding: 5px 0;
		  	position: absolute;
		  	z-index: 1;
		  	bottom: 150%;
		  	left: 100%;
		  	margin-left: -60px;
		}

		.tooltip .tooltiptext::after {
		  	content: "";
		  	position: absolute;
		  	top: 100%;
		  	left: 50%;
		  	margin-left: -5px;
		  	border-width: 5px;
		  	border-style: solid;
		  	border-color: rgb(153, 153, 153) transparent transparent transparent;
		}

		.tooltip:hover .tooltiptext {
		  	visibility: visible;
		}

    </style>
    
    <title>ProGBarZ</title>
</head>
<body>
 	<pre class="progbarz-title">
 		<code>${input.title}</code>
 	</pre>

 	<if(input.tasks)>
	 	<taskslist tasks=input.tasks/>
	</if>

    <script src="/public/js/progressbar.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>