<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
	<link rel="stylesheet" href="/public/css/style.css">

    <title>ProGBarZ</title>
</head>
<body>
 	<pre class="progbarz-title">
 		<code>${input.title}</code>
 	</pre>
 	<if(input.projects)>
 		<projectslist projects=input.projects selected=input.selected />
 	</if>
 	<if(input.tasks)>
	 	<taskslist tasks=input.tasks/>
	</if>

    <script src="/public/js/progressbar.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>