<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
	<link rel="stylesheet" href="/public/css/style.css">

    <title>ProGBarZ</title>
</head>
<body>
 	<pre class="progbarz-title">
 		<code>{{title}}</code>
 	</pre>
 	{% if projects %}
 		{% include 'projectslist.liquid', projects:projects, selected:selected %}
 	{% endif %}
 	{% if tasks %}
 		{% include 'taskslist.liquid', tasks:tasks, rates:rates, proj_duration:proj_duration, proj_elapsed:proj_elapsed %}
 	{% endif %}
    <script src="/public/js/progressbar.min.js"></script>
    <script src="/public/js/sparkline.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>