<div class="tooltip">
	<if(input.size)>
		<div class=`button button-clear glyph ${input.size}` id=`${input.id}`>${input.glyph}</div>
	</if>
	<else>
		<div class=`button button-clear glyph` id=`${input.id}`>${input.glyph}</div>
	</else>
	<span class="tooltiptext">${input.tip}</span>
</div>