<div class="tooltip">
	<if(input.size && input.task)>
		<div class=`button button-clear glyph ${input.size}` id=`${input.id}` data-task=`${input.task}`>${input.glyph}</div>
	</if>
	<else>
		<div class=`button button-clear glyph` id=`${input.id}`>${input.glyph}</div>
	</else>
	<span class=`tooltiptext ${input.tippos}`>${input.tip}</span>
</div>